In [1]:
import pandas as pd

def coverage_ke_3g():
    file_path = "WB-Dataset/ITU_DH_POP_COV_3G_WIDEF.csv"
    df = pd.read_csv(file_path)

    #Filter Columns that has years incooprated
    date_columns = [c for c in df.columns if c.isdigit()]

    #Filter-Excel-file for Country Kenya
    df_kenya_data = df[df['REF_AREA_LABEL']=="Kenya"]

    #Transpose/index Rows/Column
    df_store = (df_kenya_data[date_columns].transpose().reset_index())

    df_store.columns = ["variable", "coverage_3G"]
    #Extract the year from the column name
    df_store['year'] = df_store['variable'].str.extract(r'(\d{4})').astype(int)
    print(f"Print this var (df_store['year'])\n {df_store}")
    df_store = df_store[['year','coverage_3G']].sort_values('year')

    return df_store


#coverage_ke_3g()
#
# # load WB Kenya population dataset
# file_path = "/Users/mwangangi/Documents/Data/ITU_DH_POP_COV_3G_WIDEF.csv"
#
# df = pd.read_csv(file_path)
#
# # Step 1 Data cleaning
#
# #Strip and filter only KE data
# df_kenya_data = df[df['REF_AREA_LABEL']== "Kenya"]
#
# # Select Coverage column Plus year. # Columns ITU_DH_POP_COV_3G+2014 etc
# #data_columns = [c for c in df_kenya_data.columns if c.startswith("20")]
# data_columns = [c for c in df_kenya_data.columns if c[:4].isdigit()]
# # df_kenya.columns = List of columns with the name ITU_DH_POP_COV_3G in the dataset
# # loop each column name for c in df_kenya.columns
# print(data_columns)
# df_store = (df_kenya_data[data_columns].transpose().reset_index())
# #df_kenya[cols] = Store the above columns that start with 20*
# #.transpose : Flip the tables so column names under the csv become rows and Rows values become columns
# #.reset_index = Rename the original columns into new columns called 'index'
# print(df_store)
# # rename the columns
# df_store.columns = ["variable", "coverage_3G"]
# #Extract the year from the column name
# df_store['year'] = df_store['variable'].str.extract(r'(\d{4})').astype(int)
# print(f"Print this var (df_store['year'])\n {df_store}")
# df_store = df_store[['year','coverage_3G']].sort_values('year')
#
# print(df_store)
#
# #step 2 Add more predictors from WB report
# #clean the data
# # Population
#
# # Internet users
#
#
#
# # Step 3 Training the regression model

Print this var (df_store['year'])
    variable  coverage_3G  year
0      2007          NaN  2007
1      2008          NaN  2008
2      2009          NaN  2009
3      2010          NaN  2010
4      2011          NaN  2011
5      2012          NaN  2012
6      2013          NaN  2013
7      2014         50.0  2014
8      2015         69.0  2015
9      2016         78.0  2016
10     2017         85.0  2017
11     2018         86.0  2018
12     2019         93.3  2019
13     2020         94.0  2020
14     2021         95.0  2021
15     2022         98.0  2022
16     2023         98.0  2023
17     2024         98.0  2024

    year  coverage_3G
0   2007          NaN
1   2008          NaN
2   2009          NaN
3   2010          NaN
4   2011          NaN
5   2012          NaN
6   2013          NaN
7   2014         50.0
8   2015         69.0
9   2016         78.0
10  2017         85.0
11  2018         86.0
12  2019         93.3
13  2020         94.0
14  2021         95.0
15  2022         98.0
16  2023         98.0
17  2024         98.0